<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/styles :: styles}">

    </th:block>
    <title>Ingredients Page</title>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main>
        <div>
            <h2>La lista dei nostri ingredienti:</h2>
            <div class="w-25 border border-bottom d-flex" th:each="ingredient : ${ingredients}">
                <span th:text="${ingredient.name}"></span>
                <form class="d-inline ms-auto" th:action="@{'/ingredients/' + ${ingredient.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="bg-danger">delete</button>
                </form>
            </div>
            <a th:href="@{/ingredients/create}">Crea nuovo ingrediente</a>
        </div>
    </main>
</body>

</html>