<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/styles :: styles"></th:block>
    <title>Document</title>
</head>

<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <main class="pt-2">
        <form method="POST" th:action="@{/pizzas}" th:object="${pizza}">

            <div>
                <label for="name">Nome pizza</label>
                <input th:field="*{name}" id="name" type="text" required>
            </div>

            <div>
                <label for="description">Descrizione</label>
                <input th:field="*{description}" id="description"  type="text">
            </div>

            <div>
                <label for="price">Prezzo</label>
                <input th:field="*{price}" id="price" type="number" step="0.01" required>
            </div>

            <button type="submit">Crea Nuova Pizza</button>

        </form>
    </main>
</body>

</html>